@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --container-color: hsl(0, 0%, 100%);
  --bg-color: hsl(212, 45%, 89%);
  --header-color: hsl(218, 44%, 22%);
  --paragraph-color: hsl(219, 15%, 55%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background-color: var(--bg-color);
}

main {
  height: 100vh;
  font-family: "Outfit", system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.qr-container {
  width: 320px;
  padding: 1rem;
  background-color: var(--container-color);
  border-radius: 20px;
  box-shadow: 0 25px 25px hsla(0, 0%, 0%, 0.0477);
}

.qr-img {
  aspect-ratio: 1;
  width: 288px;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  overflow: hidden;
}

.text-container {
  text-align: center;
  padding: 1rem;
  padding-top: 0;
  display: grid;
  gap: 1rem;
  --header-size: 22px;
  --body-size: 15px;
  --header-weight: 700;
  --body-weight: 400;
}

.text-container .header {
  font-size: var(--header-size);
  font-weight: var(--header-weight);
  color: var(--header-color);
}

.text-container .body-text {
  font-weight: var(--body-weight);
  font-size: var(--body-size);
  letter-spacing: 0.19px;
  color: var(--paragraph-color);
}
